
/* Medios de pago */

.sectionMedios{
    margin: 25px;
    padding: 20px;
    text-align: center;
    
    
}

.tituMedios{
   
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    font-size: 35px;
    
}

.artiMedios{
    margin: 20px;
}

.tituloMedios{
    color: $color-titulo;
    padding: 20px;
}

.imgMedios{
    width: 100px;
    height: 100px;
    margin: 20px;
}

.ulMedios{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    list-style: none ;
}