/* Productos */


.div-body{
    background-color: $color-body;
}

.estilo-nav{
    background-color: $color-body;
}

.estilo-button{
    background-color: $color-titulo;
    font-family: $font-kdam;
    color: white;
    border-color: black; 
}

.produc{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(1.2fr);
    grid-template-areas: "titProduc"
                         "parraProduc"
                         "ulProduc"
                         "divProducUno"
                         "divProducDos"
                         "divProducTres"
                         "divProducCuatro";
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
   
}

.titProduc{
    grid-area: titProduc;
    font-family: $font-kdam;
    color: $color-titulo;
    font-size: 2rem;
    margin: 0.5rem;
   
}

.parraProduc{
    grid-area: parraProduc;
    font-family: $font-frank;
    font-size: 1.8rem;
    text-align: center;
    margin: 0.7rem;
   
}

.ulProduc{
    grid-area: ulProduc;
    font-family: $font-kdam;
    color: $color-titulo;
    font-size: 2rem;
    list-style: none;
    text-align: center;
    margin-top: 5rem;

    .ulProduc li{
        padding-bottom: 1.5rem;
    }
        
}

.divProducUno{
    grid-area: divProducUno;
    @extend %div-prod  
    
}

.divProducDos{
    grid-area: divProducDos;
    @extend %div-prod  
     
}

.divProducTres{
    grid-area: divProducTres;
    @extend %div-prod   
     
}

.divProducCuatro{
    grid-area: divProducCuatro;
    @extend %div-prod   
     
}



.imaProduc{
  @include medidas(600px, 700px);
  margin-top: 1rem;
  &:hover{
    box-shadow: 0 0.1rem 0.4rem black;
  }
}

