/* Quienes somos */


.quienes{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-template-areas: "tituloQuienes"
                         "subQuienes"
                         "parrafoQuienes"
                         "parrafoQuienesDos"
                         "parrafoQuienesTres"
                         "videosQuienes";
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
}

.tituloQuienes{
    grid-area: tituloQuienes;
    font-family: $font-kdam;
    color: $color-titulo;
    font-size: 2.5rem;
    
}

.subQuienes{
    grid-area: subQuienes;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.8rem;
    padding-left: 0.5rem;
}

.parrafoQuienes{
    grid-area: parrafoQuienes;
    font-family: $font-frank;
    @extend %parra 
}

.parrafoQuienesDos{
    grid-area: parrafoQuienesDos;
    font-family: $font-frank;
    @extend %parra 
}

.parrafoQuienesTres{
    grid-area: parrafoQuienesTres;
    font-family: $font-frank;
    @extend %parra 
}

.videoQuienes{
    grid-area: videoQuienes;
    @include medidas (20rem, 20rem);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}